@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UW Housing</h1>
 </div>

<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p><a class="btn btn-default" href="~/Student/NewStudent">Create Student&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Packages</h2>
        <p><a class="btn btn-default" href="~/Packages/LogPackage">Log Package&raquo;</a></p>
        <p><a class="btn btn-default" href="~/Packages/ViewPackages">Release Package&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Equipment</h2>
        <p><a class="btn btn-default" href="~/CheckOut/ViewEquipment">Check Out&raquo;</a></p>
    </div>
</div>