<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="UWHousing" connectionString="Data Source=144.92.212.87;Initial Catalog=UWHousing;Persist Security Info=True;User ID=2018FA422_TeamE_Ian" />
  </connectionStrings>
</configuration>